<div class="container">

  <div class="input">
      <input type="range" min="50" max="1000" value="10" step="10" id="priceSlider" >
      <span id="sliderValue">$10</span>
  </div>

  <div class="product-list">
    <div class="product" data-price="50">
      <div class="img">
          <img src="https://images.pexels.com/photos/277319/pexels-photo-277319.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
      </div>
      <div class="info">
          <h3>Helux Nautica</h3>
          <p>$50</p>
      </div>
      <button>Add to Cart</button>
    </div>
    <div class="product" data-price="150">
      <div class="img">
          <img src="https://images.pexels.com/photos/404181/pexels-photo-404181.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
      </div>
      <div class="info">
          <h3>Exquisit Atros</h3>
          <p>$150</p>
      </div>
      <button>Add to Cart</button>
    </div>
    <div class="product" data-price="250">
      <div class="img">
          <img src="https://images.pexels.com/photos/3766111/pexels-photo-3766111.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
      </div>
      <div class="info">
          <h3>Helux Spielberg</h3>
          <p>$250</p>
      </div>
      <button>Add to Cart</button>
    </div>
    <div class="product" data-price="350">
      <div class="img">
          <img src="https://images.pexels.com/photos/9897926/pexels-photo-9897926.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
      </div>
      <div class="info">
          <h3>Luminare Marine</h3>
          <p>$350</p>
      </div>
      <button>Add to Cart</button>
    </div>
    <div class="product" data-price="450">
      <div class="img">
          <img src="https://images.pexels.com/photos/9897857/pexels-photo-9897857.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
      </div>
      <div class="info">
          <h3>Regalli Claustroph</h3>
          <p>$450</p>
      </div>
      <button>Add to Cart</button>
    </div>
    <div class="product" data-price="550">
      <div class="img">
          <img src="https://images.pexels.com/photos/10436602/pexels-photo-10436602.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
      </div>
      <div class="info">
          <h3>Luminare Luxus</h3>
          <p>$550</p>
      </div>
      <button>Add to Cart</button>
    </div>
    <div class="product" data-price="650">
      <div class="img">
          <img src="https://images.pexels.com/photos/10478973/pexels-photo-10478973.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
      </div>
      <div class="info">
          <h3>Regalli Hetchers</h3>
          <p>$650</p>
      </div>
      <button>Add to Cart</button>
    </div>
    <div class="product" data-price="750">
      <div class="img">
          <img src="https://images.pexels.com/photos/10414981/pexels-photo-10414981.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
      </div>
      <div class="info">
          <h3>Helux MVII</h3>
          <p>$750</p>
      </div>
      <button>Add to Cart</button>
    </div>
    <div class="product" data-price="850">
      <div class="img">
          <img src="https://images.pexels.com/photos/10443775/pexels-photo-10443775.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
      </div>
      <div class="info">
          <h3>Exquisit Remos</h3>
          <p>$850</p>
      </div>
      <button>Add to Cart</button>
    </div>
    <div class="product" data-price="950">
      <div class="img">
          <img src="https://images.pexels.com/photos/9423283/pexels-photo-9423283.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
      </div>
      <div class="info">
          <h3>Helux Hostenhof</h3>
          <p>$950</p>
      </div>
      <button>Add to Cart</button>
    </div>
  </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>